/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  overflow-y: scroll;
  background-color: green;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #ccc;
  font: 100.01%/1 serif;
}
h1,
h2,
h4 {
  margin-left: 0.2rem;
}
h1 {
  font-size: 2.375em;
  line-height: 1.26315789;
  font-weight: 400;
  border-bottom: 1px solid #666;
  margin-bottom: 23px;
}
h2 {
  font-size: 1.875em;
  line-height: 1.6;
  font-weight: 400;
  margin-top: 48px;
  margin-bottom: 23px;
  border-bottom: 1px solid #adabab;
}
h3 {
  font-size: 1.375em;
  line-height: 1.09090909;
  font-weight: 400;
  margin-top: 48px;
  margin-bottom: 23px;
  border-bottom: 1px solid #EEE;
}
p {
  margin: 1em 0;
}
div {
  display: block;
}
select {
  margin: 1em 0;
  width: 100%;
}
fieldset {
  padding: 20px;
}
th {
  text-align: left;
  padding-right: 10px;
}
img {
  max-width: 100%;
  filter: grayscale(60%);
  -webkit-filter: grayscale(60%);
}
ul {
  padding-left: 1.5em;
}
blockquote {
  border-left: 4px solid #b4b1b1;
  padding-left: 1em;
  margin-left: 0;
  margin-bottom: 24px;
}
table {
  border: 1px solid aliceblue;
  border-collapse: collapse;
}
tr {
  border: 1px solid aliceblue;
}
th {
  padding: 15px;
}
td {
  border: 1px solid aliceblue;
  padding: 20px ;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
* General layout
*/
.wrap-all {
  background-color: #d3d0d0;
}
.outer-wrap {
  width: 100%;
}
.inner-wrap {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: yellow;
}
.right {
  float: right;
}
/**
*   Main and sidebars layout
*/
.region-main {
  width: 70%;
  margin-left: 10%;
}
.region-main.has-sidebar {
  margin-left: 0;
}
.region-main.has-sidebar-left.has-sidebar-right {
  width: 60%;
}
.inner-wrap-main {
  padding: 40px 0;
}
.region-sidebar-left,
.region-sidebar-right {
  width: 30%;
}
.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
  width: 20%;
}
.region-sidebar-left,
.region-sidebar-right,
.region-main {
  float: left;
  padding: 10px;
}
.wrap-sidebar .block h4 {
  border-top: 1px solid #ccc;
  background-image: linear-gradient(to right, #fff, #ccc);
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
* Navbar
*/
@media screen and (max-width: 880px) {
  .rm-desktop a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media screen and (max-width: 802px) {
  .region-header-col-3 {
    width: 10%;
    height: 10px;
  }
  .region-header-col-2 {
    width: 65%;
  }
  .region-header-col-1 {
    width: 25%;
  }
}
@media screen and (max-width: 665px) {
  .rm-desktop {
    display: none;
  }
  .region-header-col-2 {
    width: 0;
  }
  .region-header-col-1 {
    width: 90%;
  }
}
@media screen and (max-width: 640px) {
  .inner-wrap-main .row {
    display: flex;
    flex-direction: column;
  }
  .has-sidebar div {
    text-align: center;
  }
  .wrap-sidebar {
    width: 100%;
  }
  .has-sidebar ul {
    padding: 0;
  }
  .region-main {
    width: 100%;
    padding: 5%;
    margin: 0;
  }
}
/**
*   Footer
*/
@media screen and (max-width: 500px) {
  .footer-column-wrapper {
    flex-direction: column;
  }
  .footer-column {
    padding-right: 0;
  }
  .footer-column-1,
  .footer-column-2 {
    border-right: none;
  }
}
@media screen and (max-width: 470px) {
  .region-main {
    padding: 0;
  }
  fieldset {
    padding: 0;
  }
}
/**
*   Responsive navbar
*/
@media screen and (min-width: 665px) {
  .rm-small-wrapper {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
