/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

* {
	box-sizing: border-box;
}

.inner-wrap {
	max-width: 1100px;
    margin-left: auto;
	margin-right: auto;
}

.outer-wrap-footer {
	padding: 10px 0 10px 0;
    background: linear-gradient(0deg, #171717 0%, #3d3d3d 100%);
    color: azure;
}

.region-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-column-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid #666;
	margin-bottom: 50px;
	padding-bottom: 20px;
}

.footer-column-wrapper a {
    color: inherit;
}

.footer-column-wrapper a:hover {
    color: greenyellow;
}

.footer-column {
    flex-grow: 1;
    padding-right: 30px;
}

.footer-column-1, .footer-column-2 {
	border-right: 1px solid #666;
}

.byline {
    background-color: #fff;
    overflow: auto; /* clear fix to make div span all elements */
    border: 1px solid rgb(226, 225, 225);
    border-radius: 2px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.byline-title {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1em;
    overflow: auto;
}

.byline-slogan {
    display: block;
    padding-left: 10px;
    font-size: 0.8em;
    font-style: italic;
    overflow: auto;
}

.byline img {
    height: 70px;
    width: 70px;
}

.right {
    float: right;
}

figure.figure {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

