@import "@desinax/vertical-grid/less/grid.less";

/**
*   Style for header.
*/
.my-navbar {
    padding-top: 15px;
}

.my-navbar a {
    text-decoration: none;
}

.my-navbar a:visited {
    color: inherit;
}

.site-logo {
	display: none;
}

.site-logo-text a {
	color: rgb(95, 175, 212);
    text-decoration: none;
    font-size: 42px;
}

.rm-desktop ul {
	background-color: #fcfafa;
	color: black;
}

.region-flash img {
    #desinax-vgrid.column(@columns);
}