/**
*   Style for header.
*/
.my-navbar {
    padding-top: 15px;
}

.my-navbar a {
    text-decoration: none;
}

.my-navbar a:visited {
    color: inherit;
}

.site-logo {
	display: none;
}

.site-logo-text a {
	color: #333;
    text-decoration: none;
    font-size: 42px;
}