@import "@desinax/vertical-grid/less/grid.less";
@import "@desinax/typographic-grid/less/typography-defaults.less";
/**
 * Base style to affect HTML elements on a general scale.
 */
 @bgColorHtml: #ccc; // #424242;
 @bgColorBody: #fff;
 @colorBody: #333;
 @accentBgColor: #3B3B39;
 @accentFontColor: rgb(255, 166, 0);
 // @fontFamilyBody: serif;
 
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	overflow-y: scroll;
	background-color: @bgColorHtml;
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: @colorBody;
	background-color: @bgColorBody;
	font: 100.01%/1 @fontFamilyBody;
}

// Activate the grid base font
body {
	#desinax-hgrid.font(@fontSizeBody);
}

// Activate grid and affect all typographic elements
#desinax-hgrid.activateDefaultTypography();

div {
	display: block;
}

select {
	#desinax-vgrid.column(@columns - 1);
	background-color: @colorBody;
	color: @bgColorBody;
}

fieldset {
	padding: 20px;
}

th {
	text-align: left;
	padding-right: 10px;
}

.region-flash img {
	filter: grayscale(60%);
	-webkit-filter: grayscale(60%);
}

ul {
& :link {
	color: @colorBody;
}
& :visited {
	color: darken(@colorBody, 40%);
}
& :hover {
	color: lighten(@colorBody, 15%);
}

}

blockquote {
	border-left: 4px solid @accentFontColor;
}

table {
	border: 1px solid @colorBody;
	border-collapse: collapse;
}


tr {
	border: 1px solid @colorBody;
	max-width: 100%;
}

th {
	padding: 15px;
}

td {
	border: 1px solid @colorBody;
	padding: 20px ;
}

code,
pre code {
	background-color: @colorBody;
	color: @bgColorBody;
}

@media (min-width: 64em) {
	html {
		font-size: 112.5%;
	}
}