/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  overflow-y: scroll;
  background-color: green;
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #ccc;
  font: 100.01%/1 serif;
}
div {
  display: block;
}
select {
  margin: 1em 0;
  width: 100%;
}
fieldset {
  padding: 20px;
}
th {
  text-align: left;
  padding-right: 10px;
}
img {
  max-width: 100%;
  filter: grayscale(60%);
  -webkit-filter: grayscale(60%);
}
blockquote {
  border-left: 4px solid #b4b1b1;
  padding-left: 1em;
  margin-left: 0;
  margin-bottom: 24px;
}
table {
  border: 1px solid aliceblue;
  border-collapse: collapse;
}
tr {
  border: 1px solid aliceblue;
}
th {
  padding: 15px;
}
td {
  border: 1px solid aliceblue;
  padding: 20px ;
}
@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
* General layout
*/
.wrap-all {
  background-color: #d3d0d0;
}
.outer-wrap {
  width: 100%;
}
.inner-wrap {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcfafa;
}
.right {
  float: right;
}
/**
*   Main and sidebars layout
*/
.inner-wrap-main {
  padding: 40px 0;
}
.region-sidebar-left,
.region-sidebar-right {
  width: 30%;
}
.region-sidebar-left,
.region-sidebar-right,
.region-main {
  float: left;
  padding: 30px;
}
.wrap-sidebar .block h4 {
  border-top: 1px solid #ccc;
  background-image: linear-gradient(to right, #fff, #ccc);
}
/**
* Import the vertical grid.
*/
/**
 * Fluid and Responsive Vertical Grid
 */
/**
 * Namespace what could be namespaced
 */
#desinax-vgrid {
  /**
     * Wrap grid in a container.
     */
  /**
     * Show grid.
     */
  /**
     * All columns must be wrapped in a row.
     */
  /**
     * Create a column spanning @col columns.
     */
  /**
     * Push a column @offset columns.
     */
  /**
     * Pull a column left @offset columns.
     */
  /**
     * Pull a column right @offset columns.
     */
}
/**
* Responsive 1, 2, 3
*/
@media screen and (max-width: 1000px) {
  .region-main {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin-left: 0.52083333%;
    margin-right: 0.52083333%;
  }
  .region-main.has-sidebar-left.has-sidebar-right {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin-left: 0.52083333%;
    margin-right: 0.52083333%;
  }
  .region-sidebar-left {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin-left: 0.52083333%;
    margin-right: 0.52083333%;
  }
  .region-sidebar-left.has-sidebar-right,
  .region-sidebar-right.has-sidebar-left {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin-left: 0.52083333%;
    margin-right: 0.52083333%;
  }
}
@media screen and (max-width: 850px) {
  .region-main.has-sidebar-right {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin-left: 0.52083333%;
    margin-right: 0.52083333%;
  }
  .region-sidebar-right {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin-right: 0.52083333%;
    margin-left: 0.52083333%;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
