/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */


/**
* General layout
*/
.outer-wrap {
    .clearfix();
}

.inner-wrap {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(95, 175, 212);
    .clearfix();
}

.inner-wrap-main {
    background-image: linear-gradient(to bottom, rgb(95, 175, 212), rgb(41, 158, 212));
}

// /**
// * Flash layout
// */
// .inner-wrap-flash {
//     width: 100%;
//     height: 180px;
// }


/**
* Header layout
*/

.outer-wrap-header {
    .clearfix();
}

.inner-wrap-header {
   max-width: 100%;
   background-color: rgb(58, 58, 57);
   color: rgb(252, 250, 250);
}

.region-header-col-1,
.region-header-col-3 {
    width: 20%;
    float: left;
}

.region-header-col-2 {
    width: 60%;
    float: left;
    text-align: center;
}
/**
* Footer layout
*/
.outer-wrap-footer,
.inner-wrap-footer {
    background: linear-gradient(0deg, #171717 0%, #3d3d3d 100%);
    color: azure;
}
