/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */


/**
* General layout
*/

.wrap-all {
    background-color: rgb(211, 208, 208);
}

.outer-wrap {
    width: 100%;
}

.inner-wrap {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252, 250, 250);
}

.right {
    float: right;
}



/**
*   Main and sidebars layout
*/
.inner-wrap-main {
    padding: 40px 0;
}

.region-sidebar-left,
.region-sidebar-right {
	width: 30%;
}

.region-sidebar-left,
.region-sidebar-right,
.region-main {
    float: left;
    padding: 30px;
}

.wrap-sidebar .block h4 {
	border-top: 1px solid #ccc;
	background-image: linear-gradient(to right,#fff,#ccc);
}