/**
* Import the vertical grid.
*/
@import "@desinax/vertical-grid/less/grid.less";

/**
* Responsive 1, 2, 3
*/
@media screen and (max-width: 1160px) {
    .region-main {
        #desinax-vgrid.column(@columns);
        &.has-sidebar-left.has-sidebar-right {
            #desinax-vgrid.column(@columns);
        }
    }
    .region-sidebar-left {
	    #desinax-vgrid.column(@columns);
    }
    .region-sidebar-left.has-sidebar-right,
    .region-sidebar-right.has-sidebar-left {
        #desinax-vgrid.column(@columns);
    }
    .site-logo-text-icon {
        display: none;
    }
    .region-header-col-1 {
        #desinax-vgrid.column(4);
    }
    .region-header-col-3 {
        #desinax-vgrid.column(3);
    }
    .region-header-col-2 {
        #desinax-vgrid.column(17);
        text-align: center;
    }
    .site-logo-text a {
        font-size: 36px;
    }
}

@media screen and (max-width: 1100px) {
    .row {
        width: 100%;
    }
}

@media screen and (min-width: 950px) {
    .region-header-col-3 {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .region-header-col-2 {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .region-main.has-sidebar-right {
            #desinax-vgrid.column(@columns);
    }

    .region-sidebar-right {
        #desinax-vgrid.column(@columns);
        #desinax-vgrid.push(0);
    }
    fieldset {
        padding: 0;
    }
}

@media screen and (max-width: 530px) {
    .columns.footer-column-wrapper {
        #desinax-vgrid.column(@columns);
        display:  inline-block;
    }
    .footer-column {
        #desinax-vgrid.column(@columns);
        text-align: center;
    }
    .footer-column-1,
    .footer-column-2 {
        border-right: none;
    }
    .right {
        float: none;
    }

}

@media screen and (max-width: 530px) {
    .byline img {
        display: none;
    }
}