/**
 * Layout using vgrid.
 */

/**
 * Variables
 */


/**
* General layout
*/
.row {
    #desinax-vgrid.row();
    // background-color: #0f0;
    margin-bottom: 12px;
}



.wrap-all {
    background-color: rgb(211, 208, 208);
}

.region-main {
    #desinax-vgrid.column(@columns * 3 / 4);
    #desinax-vgrid.push(2);
    &.has-sidebar {
        #desinax-vgrid.push(0);
    }
    &.has-sidebar-right {
        #desinax-vgrid.column(@columns * 3 / 4 - 1);
    }
    &.has-sidebar-left.has-sidebar-right {
        #desinax-vgrid.column(@columns - 10);
    }
}

.region-sidebar-left,
.region-sidebar-right {
	#desinax-vgrid.column(@columns * 1 / 4);
}

.region-sidebar-right {
	#desinax-vgrid.push(1);
}


.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
	#desinax-vgrid.column(@columns * 1 / 4 - 1);
}

/**
*   Main and sidebars layout
*/
// .region-main {
//     #desinax-vgrid.column(18);
// }

.inner-wrap-main {
    // padding: 40px 0;
}

.wrap-sidebar .block h4 {
	background-image: linear-gradient(to right,#fff,#ccc);
}


/**
* General layout
*/
.outer-wrap {
    .clearfix();
}

.inner-wrap {
    #desinax-vgrid.grid(1100px);
    background-color: rgb(95, 175, 212);
}

.inner-wrap-main {
    background-image: linear-gradient(to bottom, rgb(95, 175, 212), rgb(41, 158, 212));
}

/**
* Header layout
*/

.inner-wrap-header {
    #desinax-vgrid.grid(100%);
    background-color: rgb(58, 58, 57);
    color: rgb(252, 250, 250);
}

.region-header-col-1,
.region-header-col-3 {
    #desinax-vgrid.column(5);
}

.region-header-col-2 {
    #desinax-vgrid.column(14);
    text-align: center;
}
