/**
 * Layout using vgrid.
 */

/**
 * Variables
 */


/**
* General layout
*/
.block {
    padding: 4%;
}

.row {
    #desinax-vgrid.row();
    margin-bottom: 12px;
}

.wrap-all {
    background-color: @bgColorHtml;
}

.region-main {
    #desinax-vgrid.column(@columns * 3 / 4);
    #desinax-vgrid.push(2);
    &.has-sidebar {
        #desinax-vgrid.push(0);
    }
    &.has-sidebar-right {
        #desinax-vgrid.column(@columns * 3 / 4 - 1);
    }
    &.has-sidebar-left.has-sidebar-right {
        #desinax-vgrid.column(@columns - 10);
    }
}

.region-sidebar-left,
.region-sidebar-right {
	#desinax-vgrid.column(@columns * 1 / 4);
}

.region-sidebar-right {
	#desinax-vgrid.push(1);
}


.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
	#desinax-vgrid.column(@columns * 1 / 4 - 1);
}

/**
*   Main and sidebars layout
*/
.wrap-sidebar .block h4 {
    color: @accentFontColor;
	background-image: linear-gradient(to right, lighten(@accentBgColor, 10%), @accentBgColor);
}

/**
* General layout
*/
.outer-wrap {
    .clearfix();
}

.inner-wrap {
    // #desinax-vgrid.grid(1100px);
    #desinax-vgrid.grid(@maxContentWidth);
    background-color: @bgColorBody;
}

.inner-wrap-main {
    background-color: @bgColorBody;
}

.right {
    float: right;
    margin-left: 8px;
}

.left {
    float: left;
    // margin-left: 8px;
    margin-right: 8px;
}

.clearfix {
    .clearfix();
}

/**
* Header layout
*/
.inner-wrap-header {
    #desinax-vgrid.grid(100%);
    background-color: @accentBgColor;
    color: @accentFontColor;
}

.region-header {
    #desinax-vgrid.column(@columns);
}


.region-header-col-1,
.region-header-col-3 {
    #desinax-vgrid.column(5);
}

.region-header-col-2 {
    #desinax-vgrid.column(14);
    text-align: center;
}

/**
*   Flash message layout
*/
.region-flash-message {
    #desinax-vgrid.column(@columns);
}

/**
*   Flash layout
*/
.inner-wrap-flash {
    #desinax-vgrid.grid(100%);
}
